* {
    margin: 0px;
    padding: 0px;
 }

body {
    display: grid;
    grid-template-rows: 100px 800px;
}

.title {
    width: 100%;
    height: 100%;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(47, 47, 56);
    margin-top: 0px;
}

.options {
    grid-row: 2;
    background-image: url(./background.jpg);
    background-size: cover;
    opacity: 90%;    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.uploadnew {
    display: flex;
    background-color: rgb(209, 127, 141);
    color: white;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    margin-right: 80px;
}

.uploadimage {
    height: 75px;
    width: 50px;
}

.fileupload {
    border: 1px solid black;
    padding: 10px;
    color: black;
    background-color: white;
}

.uploadform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.submit {
    height: 35px;
    width: 100px;
    background-color: rgb(131, 42, 56);
    color: white;
    border: 1px solid black;
}

.lookup {
    background-color: rgb(83, 173, 136);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    margin-left: 80px;
}

.lookupimage {
    height: 75px;
    width: 50px;
}

.searchdate {
    border: 1px solid black;
    padding: 10px;
}

.searchform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.search {
    height: 35px;
    width: 100px;
    background-color: rgb(28, 99, 69);
    color: white;
    border: 1px solid black;
}
